Build-Depends: debhelper (>= 8.0.0), python-all-dev, python-setuptools
Section: science
Homepage: http://github.com/ComSciCtr/vroom

Package: SRCPKGNAME
Section: science
Architecture: any
Depends: ${shlibs:Depends}, ${python:Depends}, ${misc:Depends}, python-pyftgl, python-pyinotify, python-opengl, python-numpy
Provides: ${python:Provides}
Description: Rapid VR Development in Python
 Develop VR applications rapidly using Python.
