Source: nck
Priority: extra
Maintainer: MAINTAINER
Build-Depends: debhelper (>= 8.0.0), libvruiVRUIVER-dev
Standards-Version: 3.9.3
Section: science
Homepage: http://idav.ucdavis.edu/~okreylos/ResDev/NanoTech

Package: SOURCE
Section: science
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Nanotech Construction Kit
 The Nanotech Construction Kit is an interactive molecular dynamics simulation
 using a very simplified interaction model between "structural units," which
 can be single atoms or larger complexes of atoms.
