Build-Depends: debhelper (>= 8.0.0), libvruiVRUIVER-dev
Section: libs
Homepage: http://idav.ucdavis.edu/~okreylos/ResDev/Collaboration

Package: SRCPKGNAME
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: vrui-collaboration-utils
Description: Vrui Tele-collaboration Infrastructure - Runtime
 The Collaboration Infrastructure is a framework for the development of
 collaborative immersive applications between multiple sites, based on a
 client-server architecture. Any number of clients can dynamically connect to
 a central collaboration server to participate in a collaborative session.
 While connected, clients see representations of the viewers and input devices
 of all other connected clients, can see audio and/or 2D or 3D video from other
 clients supporting those options, and can use shared annotation tools.
 .
 This package contains the runtime library files needed to run software
 using Vrui with the tele-collaboration infrastructure.

Package: SRCPKGNAME-dev
Section: libdevel
Architecture: any
Depends: SRCPKGNAME (= ${binary:Version}), ${misc:Depends}, libvruiVRUIVER-dev
Description: Vrui Tele-collaboration Infrastructure - Development files
 The Collaboration Infrastructure is a framework for the development of
 collaborative immersive applications between multiple sites, based on a
 client-server architecture. Any number of clients can dynamically connect to
 a central collaboration server to participate in a collaborative session.
 While connected, clients see representations of the viewers and input devices
 of all other connected clients, can see audio and/or 2D or 3D video from other
 clients supporting those options, and can use shared annotation tools.
 .
 This package contains the header and development files needed to build
 programs and packages using Vrui with the tele-collaboration infrastructure.

Package: vrui-collaboration-utils
Section: utils
Architecture: any
Depends: SRCPKGNAME, ${shlibs:Depends}, ${misc:Depends}
Description: Vrui Tele-collaboration Infrastructure - Utilities
 The Collaboration Infrastructure is a framework for the development of
 collaborative immersive applications between multiple sites, based on a
 client-server architecture. Any number of clients can dynamically connect to
 a central collaboration server to participate in a collaborative session.
 While connected, clients see representations of the viewers and input devices
 of all other connected clients, can see audio and/or 2D or 3D video from other
 clients supporting those options, and can use shared annotation tools.
 .
 This package contains the collaboration server and test client.
