Source: sarndbox
Priority: extra
Maintainer: MAINTAINER
Build-Depends: debhelper (>= 8.0.0), libvruiVRUIVER-kinect-dev
Standards-Version: 3.9.3
Section: science
Homepage: http://idav.ucdavis.edu/~okreylos/ResDev/SARndbox

Package: SOURCE
Section: science
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Software to control an augmented reality sandbox 
 The augmented reality (AR) sandbox allows users to create topography models by
 shaping real sand, which is then augmented in real time by an elevation color
 map, topographic contour lines, and simulated water. The system teaches
 geographic, geologic, and hydrologic concepts such as how to read a topography
 map, the meaning of contour lines, watersheds, catchment areas, levees, etc.
