Source: vrui-examples
Priority: extra
Maintainer: MAINTAINER
Build-Depends: debhelper (>= 8.0.0), libvruiVRUIVER-dev
Standards-Version: 3.9.3
Section: misc
Homepage: http://keckcaves.org/software/vrui

Package: vrui-examples
Section: misc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Vrui VR toolkit - Examples
 Examples programs that use the Vrui VR toolkit.
