Build-Depends: debhelper (>= 8.0.0), cmake, libvruiVRUIVER-dev, libgdal-dev, libglewmx-dev, libfontconfig-dev, libftgl-dev
Section: science
Homepage: http://keckcaves.org/software/crusta

Package: SRCPKGNAME
Section: science
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Immersive virtual globe
 Using Crusta one can easily import sub-meter resolution DEM or aerial imagery
 for any location on the globe. Dynamic manipulation of the visualization using
 local illumination, real-time scaling of vertical exaggeration, and hardware
 accelerated textured iso-lines support explorative discovery of key surface
 features that results in a clear understanding of their three-dimensional
 embedding. Key features such as fault scarps, landslides, and other
 historically preserved geologic markers can be directly mapped on the virtual
 landscape. Real-time mapping and the identification of features using a three-
 dimensional immersive application greatly improves the confidence and
 localization of mapped features.
